@import url("https://fonts.googleapis.com/css2?family=Comfortaa&display=swap");
body {
  margin: 0;
  padding: 0;
}

header {
  background-color: #153B37;
  width: 100%;
  height: 500px;
  padding-top: 35%;
}

header .image_wrapper img {
  display: block;
  margin-left: auto;
  margin-right: auto;
  width: 10%;
}

header h1 {
  font-family: Arial, Helvetica, sans-serif;
  color: white;
  text-align: center;
}

header .search {
  margin-top: 20%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

header .search input {
  border-radius: 30px;
  height: 30px;
  width: 70%;
  border-style: none;
  font-family: Arial, Helvetica, sans-serif;
  padding-left: 20px;
  color: #8d8d8d;
}

.button_div {
  margin-top: 5%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.button_div button {
  border-radius: 30px;
  height: 30px;
  width: 40%;
  border-style: none;
  background-color: white;
}

.button_div button:hover {
  background-color: #628562;
  color: white;
}

.button_div .button-green {
  background-color: #153B37;
  color: white;
  width: 50%;
  height: 40px;
}

.button_div .button-green:hover {
  background-color: #628562;
}

.banner {
  margin-top: 0;
  height: 300px;
  background-color: #F7F4ED;
}

.banner p {
  margin: 0 10px;
  padding-top: 30%;
  text-align: center;
  font-family: Arial, Helvetica, sans-serif;
}

.container {
  max-width: 1200px;
  margin: 0 auto;
  padding: 1.5em;
}

.container h1 {
  font-family: Arial, Helvetica, sans-serif;
  text-align: center;
}

.container .menu {
  font-family: Arial, Helvetica, sans-serif;
  font-size: 14px;
}

.container .menu h2 {
  margin: 0;
  padding-bottom: 1em;
  border-bottom: 2px solid #ccc;
}

.container .menu .menu_items {
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: 1fr;
      grid-template-columns: 1fr;
  gap: 2em;
  padding: 2em 0;
}

.container .menu .menu-item {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  margin: 0;
  padding: 10px;
}

.container .menu .menu_text {
  padding: 10px;
}

.container .menu .menu_text h3 {
  margin: 10px 0px;
}

.container .menu .menu_image {
  width: 70px;
  height: 70px;
  -ms-flex-negative: 0;
      flex-shrink: 0;
  -o-object-fit: cover;
     object-fit: cover;
  margin-right: 1.5em;
}

.container .menu .menu_button {
  display: block;
  height: 30px;
  width: 100px;
  background-color: #153B37;
  color: white;
  border-style: none;
  border-radius: 30px;
  margin: 10px 0px;
}

.container .menu .menu_button:hover {
  background-color: #628562;
  color: white;
}

@media screen and (min-width: 700px) {
  .menu {
    font-size: 16px;
  }
  .menu-items {
    -ms-grid-columns: (1fr)[2];
        grid-template-columns: repeat(2, 1fr);
  }
  .img {
    width: 125px;
    height: 125px;
  }
  header {
    padding-top: 10%;
  }
  header .image_wrapper img {
    width: 5%;
  }
  header .search {
    margin-top: 10%;
  }
  header .search input {
    width: 30%;
  }
  .button_div {
    margin-top: 3%;
  }
  .button_div button {
    width: 20%;
  }
  .button_div .button-green {
    width: 30%;
  }
  .banner p {
    margin: 0 10px;
    padding-top: 10%;
  }
}

@media screen and (min-width: 1200px) {
  header {
    padding-top: 6%;
  }
  header .image_wrapper img {
    width: 2%;
    margin-bottom: 4%;
  }
  header .search {
    margin-top: 5%;
  }
  header .search input {
    width: 20%;
  }
  .button_div {
    margin-top: 3%;
  }
  .button_div button {
    width: 10%;
  }
  .button_div .button-green {
    width: 15%;
  }
  .banner p {
    margin: 0 10px;
    padding-top: 7%;
  }
  .menu_button {
    width: 500px;
  }
}

@media screen and (max-width: 1220px) {
  .container {
    max-width: 95%;
  }
}

@media screen and (max-width: 1596px) {
  header {
    padding-top: 6%;
  }
  header .image_wrapper img {
    width: 2%;
    margin-bottom: 4%;
  }
  header .search {
    margin-top: 5%;
  }
  header .search input {
    width: 20%;
  }
  .button_div {
    margin-top: 3%;
  }
  .button_div button {
    width: 10%;
  }
  .button_div .button-green {
    width: 15%;
  }
  .banner p {
    margin: 0 10px;
    padding-top: 7%;
  }
  .menu_button {
    width: 500px;
  }
}

nav {
  background-color: #153B37;
  width: 100%;
  display: inline-block;
  text-align: center;
}

nav ul {
  display: inline-block;
  list-style: none;
  margin: 0;
  width: 300px;
  padding-top: 20px;
}

nav ul li {
  display: inline-block;
  text-align: center;
  margin-right: 4%;
}

nav ul li a {
  color: white;
  text-decoration: none;
  font-family: Arial, Helvetica, sans-serif;
}

nav ul li a:hover {
  border-bottom: 1px solid white;
  cursor: pointer;
}

* {
  font-family: 'Comfortaa', cursive;
  margin: 0;
  padding: 0;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

.body_shop {
  background-color: #153B37;
}

.container {
  max-width: 1200px;
  margin: 0 auto;
}

.container > h1 {
  padding: 20px 0;
}

.cart {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.produkter {
  -webkit-box-flex: 0.75;
      -ms-flex: 0.75;
          flex: 0.75;
}

.produkt {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  width: 100%;
  height: 200px;
  background-color: wheat;
  overflow: hidden;
  border: 1px solid silver;
  margin-bottom: 20px;
}

.produkt:hover {
  border: none;
  -webkit-box-shadow: 2px 2px 4px rgba(0, 0, 0, 0.2);
          box-shadow: 2px 2px 4px rgba(0, 0, 0, 0.2);
  -webkit-transform: scale(1.01);
          transform: scale(1.01);
}

.produkt > img {
  width: 300px;
  height: 200px;
  -o-object-fit: cover;
     object-fit: cover;
}

.produkt > img:hover {
  -webkit-transform: scale(1.04);
          transform: scale(1.04);
}

.produkt-info {
  padding: 20px;
  width: 100%;
  position: relative;
}

.produkt-navn, .produkt-pris {
  margin-bottom: 20px;
}

.produkt-remove {
  position: absolute;
  bottom: 20px;
  right: 20px;
  padding: 10px 25px;
  background-color: blue;
  color: white;
  cursor: pointer;
  border-radius: 5px;
}

.produkt-remove:hover {
  background-color: white;
  color: blue;
  font-weight: 600;
  border: 1px solid blue;
}

.produkt-quantity > input {
  width: 40px;
  padding: 5px;
  text-align: center;
}

.fa {
  margin-right: 5px;
}

.cart-total {
  -webkit-box-flex: 0.25;
      -ms-flex: 0.25;
          flex: 0.25;
  margin-left: 20px;
  padding: 20px;
  height: 240px;
  background-color: wheat;
  border: 1px solid silver;
  border-radius: 5px;
}

.cart-total p {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  margin-bottom: 30px;
  font-size: 20px;
}

.cart-total a {
  display: block;
  text-align: center;
  height: 40px;
  line-height: 40px;
  background-color: tomato;
  color: white;
  text-decoration: none;
}

.cart-total a:hover {
  background-color: red;
}

@media screen and (max-width: 700px) {
  .remove {
    display: none;
  }
  .produkt {
    height: 150px;
  }
  .produkt > img {
    height: 150px;
    width: 200px;
  }
  .produkt-navn, .produkt-pris {
    margin-bottom: 10px;
  }
}

@media screen and (max-width: 900px) {
  .cart {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }
  .cart-total {
    margin-left: 0;
    margin-bottom: 20px;
  }
}

@media screen and (max-width: 1220px) {
  .container {
    max-width: 95%;
  }
}
/*# sourceMappingURL=style.css.map */